body{
    background-color: rgba(255, 228, 196, 0.365);
    margin: 0;
}
.navbar{
    border-bottom: 1px solid cadetblue;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(220, 212, 212);
    padding: 10px;
    font: 1em sans-serif;
}
.active{
    cursor: pointer;
}
    
.navbar_side{
    gap: 30px;
}
.grid-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}
.box{
    border: 1px solid cadetblue;
    margin: 20px;
    background-color: rgba(128, 183, 186, 0.242);
    font: 1.5em sans-serif;
}

h4, h5{
    margin-top: 10px;
    /* margin-bottom: 7px; */

}

/* .img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 136, 137);
    color:white;
    margin: 20px;
    height: 200px;
} */
img{
    height: 250px;
    width: 370px;
    margin: 3px;
    border: 1px solid cadetblue;
}