body {
  font-family: 'Arial', sans-serif;
  background-color: lavenderblush;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color:lavender;
  color:rgb(5, 5, 109);
  border-bottom: rgba(0, 0, 0, 0.621) 1px solid;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  margin: 0;
}
.navbar_side {
  display: flex;
}
.navbar_side button {
  background-color:rgba(146, 146, 205, 0.845);
  border: none;
  padding: 10px 20px;
  margin-left: 630px;
  cursor: pointer;
  font-size: 15px;
}
.navbar_side button:hover {
  background-color:rgba(202, 149, 166, 0.808);
  color: black;
}
nav {
  display: flex;
  align-items: center;
}
nav p {
  margin-right: 10px;
}
nav button {
  background-color:rgba(146, 146, 205, 0.845);
  border: none;
  padding: 10px 20px;
  padding-bottom: 13px;
  cursor: pointer;
}
nav button:hover {
  background-color:rgba(202, 149, 166, 0.808);
  color: black;
}

.select-user {
  margin-top: 1rem;
  font-size: 20px;
  margin-left: 2.2rem;
  color:rgb(5, 5, 109);
}
.label {
  font-weight: bold;
}
.select-user select {
  margin-left: 5px;
  padding-top: 2px;
  font-size: 0.9rem;
  background-color: rgba(230, 230, 250, 0.6);
  border: 1px solid rgba(120, 120, 190, 0.495);
  color:rgb(5, 5, 109);
  font-weight: bold;

}
.grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 25px;
}
.box {
  border: 1px solid rgba(120, 120, 190, 0.495);
  background-color: rgba(230, 230, 250, 0.6);
  border-radius: 5px;
  padding: 1rem;

}
.box p {
  margin: 2%;
}

.box button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color:rgba(146, 146, 205, 0.845);
  margin-left: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.box button:hover {
  background-color:rgba(218, 150, 172, 0.662);
  color: black;
}

.heading1{
  padding-bottom: 5%;
  color:rgb(5, 5, 109);
  font-weight: bold;
  font-size: 34px;
}
.heading2{
  display: inline-block;
  padding-bottom: 5%;
  color:rgb(5, 5, 109);
  font-weight: bold;
  font-size: 29px;
}
.heading3{
  display: inline-block;
  padding-bottom: 5%;
  color:rgb(5, 5, 109);
  font-weight: bold;
  font-size: 24px;
}
.heading4{
  color:rgb(5, 5, 109);
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 768px) {
  .grid-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}
